/* Site font*/
/* Lato, Montserrat and Noto Sans font 
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans:wght@200;400&display=swap');*/

*{
    font-family: 'Montserrat', sans-serif;  
    
}

h1{
    color: #16354D;
}

/* This will target all p tags within a div
div > p {
    color: #000000;
} */

/* -----John Michael Grageda Start----- */
/* set index h1 heading margins and text colour to prussian blue */
.index-h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #16354D;
}

/* set carousel wrapper height */
.carousel-inner {
    height: 500px;
}

/* set carousel image poisition and set to resize to fit aspect ratio of its container and will be clipped to fit its given dimensions*/
.carousel-item img {
    position: absolute;
    object-fit:cover; 
    top: 0;
    left: 0;
    min-height: 500px;
}

/* set navigation button background colour to white, appears below 576px width */
.navbar-toggler {
    background-color: #FFFFFF !important;
}

/* set logo dimension and rounded border */
.navbar-brand img {
    height: 60px;
    border-radius: 10px;
}

/* set targeted images margins and height */
.clutch-img img, 
.brakes-img, 
.brakes-img-2 img{
    object-fit: cover;
    margin-top: 8px;
    height: 100%;
}

/* set div to be hidden and text colour to prussian blue when div is releaved*/
#hiddenDiv { 
    display: none;
    color: #16354D;
}

/* set heading text colour to prussian blue */
h3.rpsGame {
    color: #16354D;
}

/* set targeted classes background colour to prussian blue */
.navbar, 
.site-footer, 
.car-service-checklist, 
.btn-primary {
    background-color: #16354D !important;
}

/* set navbar links text colour to white and font to bold, added imporant rule to override bootstrap preset styling*/
.nav-link {
    color: #FFFFFF !important;
    font-weight: bold !important;
}

/*Utilised CSS filter generator and applied filter properties to image class to change icons colour to prussian blue */
/*https://codepen.io/sosuke/pen/Pjoqqp*/
.index-icons {
    filter: 
    invert(15%) 
    sepia(38%) 
    saturate(1104%) 
    hue-rotate(165deg) 
    brightness(90%) 
    contrast(89%);
}

/* set h6 heading margin */
.icon-header {
    margin-top: 10px;
}

.custom-shadow {
    box-shadow: 0px 4px 8px #E4E5EA;
}
/* set hover effects, text colour to prussian blue, font to bold, background colour to darkorange and transform to increase size of the element*/
.call-button:hover, 
.book-button:hover, 
.button-test:hover, 
#submit-btn:hover, 
.btn-primary:hover, 
#submitbutton:hover {
    color: #16354D !important;
    font-weight: bold;
    background-color: darkorange !important;
    transform: scale(1.05);
} 

/* set hover effect text colour to prussian blue, bold and transform to increase size of the element*/
.a-more:hover {
    color: #16354D;
    font-weight: bold;
    transform: scale(1.1)
}

/* set accordion collapsed buttons' background colour to prussian blue and text colour to white*/
.accordion-button:not(.collapsed), #submitbutton{
    background-color: #16354D !important;
    color: #FFFFFF !important;
}

/* set accordion hover effect on none collapsed buttons' background colour to prussian blue and text colour to white*/
.accordion-button:hover {
    background-color: #16354D !important;
    color: #FFFFFF !important;
}

/* set mini game bootstrap buttons width dimension */
button#rock, 
button#paper, 
button#scissors {
    width: 90px;
}

/* set navbar links hover effects text colour to prussian blue, font to bold, background colour to darkorange and transform to increase size of the element*/
.nav-link:hover, 
.dropdown-item:hover {
    color: #16354D !important;
    font-weight: bold;
    background-color: darkorange !important;
    transform: scale(1.02);
}

/* set accordion text with Google Fonts */
.accordion-text-carservice strong{
    font-family: 'Lato', sans-serif !important;
}

/* set background settings, image pathing, padding and margins */
#bg-clutch {background-image:url(../images/clutch-banner-bg.jpg); /*https://www.freepik.com/free-photo/female-mechanic-holding-spare-parts-car_1005668.htm#query=clutch%20repair&position=0&from_view=keyword&track=ais&uuid=19caf867-0d9a-4bfc-ab37-53942c0bdbd3*/
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: center;
}

/* set background settings, image pathing, padding and margins */
#bg-carservice {background-image:url(../images/carservice-banner-bg.jpg); /*https://www.pexels.com/photo/man-in-blue-denim-jacket-holding-brown-metal-pipe-4489729/*/
    padding: 50px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
/* -----John Michael Grageda End----- */

/* -----Federico Pi Dote Start----- */
    /*Brakes page- Federico*/
    #bg {background-image:url(../images/Brake-Repair.jpg);
   
    padding: 50px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    
    
    }
    
    .custom {
        width: 150px !important;
    }
    .testimonial-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
    }
    .textBody{
        font-family:  'Noto Sans', sans-serif;

    }

    .textBody h1{
        font-size: 35px;
    }
     
   
   
    .textBody h3{
        font-size: 20px;
        font-weight: bold;
    }

  
     
    /* This class is defining the styling for the container element that holds each
    testimonial in a testimonial grid. */
    .testimonial-container {
        background-color: #ffffff;
        border-radius: 12px;
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .testimonial-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 20px;
    }
     
    .testimonial-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;}
     
    .testimonial-text {
        margin-bottom: 20px;
        font-style: italic;
        
    }

    .testimonial-text p{
        font-family: 'Lato', sans-serif;
    }
     
    .testimonial-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #333333;
    }
     
    .testimonial-role {
        font-size: 16px;
        color: #666666;
    }

    /* test for brake page*/
    .checking-test{
        background-color: #6B99C3;
        color: white;
        margin: auto;
        padding-bottom: 20px;
        
    }

    .checking-test button{
        color:white;
        background-color: #16354D;
        border-color: #D2D2D4;
        margin: auto;
        justify-content: center;
        width:fit-content;
    }   

    .checking-test h6{
        justify-content: center;
        text-align: center;
        
    }

    #startBrakeCheckImage{
        max-width: 70px;
        margin:auto;
       
        margin-bottom: -30px;
        
    }

    #brakeCheckResult{
        font-family: 'Lato', sans-serif;
        padding-top: 30px;
       
    }
     
    /* This media query in CSS that targets screens with a maximum width of 600 pixels. */
    @media screen and (max-width: 600px) {
        .testimonial-grid {
            grid-template-columns: 1fr;
        }
    }
/*changing style of the banner bootstrap buttons*/
.color-buttons-banner{
    background-color: #16354D !important;
    color: #ffffff !important;
}
/* .color-buttons-banner{
    background-color: #6B99C3!important;
    border: #6B99C3 !important;} */


    /*Form*/
    /* Claudemar */

    .myform{
        width: 100%;
        max-width: 30rem;
       
        
    }
    
    .inputsform, .textarea-input, .buttonSubmit {
        width: 100%;
        font: inherit;
        padding: 1.30rem;
        font-weight: 350;
    }
    
    .inputsform, .textarea-input {
        margin-bottom: 15px;
        color: #ffffff;      
        background: #E4E5EA;
        border: 0.15rem solid #D2D2D4;
        border-radius: 25px;
        transition: border-color 0.3s, box-shadow 0.3s; 
    }
    input:hover,
    input:focus,
    textarea:hover,
    textarea:focus {
        outline: none;
        border-color: #16354D;
        box-shadow: 0 0 0 0.2125rem #16354D;
    }
    label {
        margin-bottom: 0.5rem;
        color: #16354D;
    }
    textarea{
        min-height: 10rem;
        resize: vertical;
    }
    .buttonSubmit {    
        border: none;
        color: #FFFFFF;
        background-color: #6B99C3;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 99px;
        margin-top: 20px;
        font-weight: 600;
    }
    .buttonSubmit:hover,
    .buttonSubmit:focus {
        outline: none;
        background: #16354D;
    }
    #quote{
      display: flex;  
    }



.wrapper-class input[type="radio"] {
    width: 15px;
    display: inline;
    
  }
  .wrapper-class input[type="checkbox"] {
    width: 15px;
    display: inline;
    text-align: justify;
  }
.wrapper-class label {
    text-align: center;
    display: inline;
    margin-left: 5px;
    }
/*
input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: #3277b3;
}
label {
    margin-bottom: 0.5rem;
    color: #84868f;
    
}
textarea{
    min-height: 12.5rem;
    resize: vertical;
}
.buttonSubmit {  
    border: none;
    border-radius: 99px;
    color: white;
    background-color: #1d90f5;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
}
.buttonSubmit:hover,
.buttonSubmit:focus {
    outline: none;
    background: #5c94d4;
}*/
.popup{
    width: 30%;
    background: #fff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.5s, top 0.5s;
}
.open-popup{
    
    visibility: visible;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #3277b3;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


.span-required{
    display: none;
    font-size: 14px;    
    color: red;
}

/*Newsletter- Federico*/
.newsletter-modal {
    display: none;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .newsletter-bg {
    
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    position: relative;
    width: 60%;
    min-width: 350px;
    max-width: 900px;
    
  }
  
  .newsletter-col{
    min-width: 400px;
  }

  .row-newsletter{
    margin: 0 auto;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  
  form h3 {
    color: #16354D;
  }
  
  
   .inputfield {
    width: 65%; 
    border: 1px solid #6B99C3;
    max-width: 300px;
    height: 44px;
}
  
.form-group{
    justify-content: center;
}
  
  
 .form-group button {
    margin: 0;
    padding: 10px;
    border: none;
    background-color: #16354D;
    color: white;
 }  
  
  .image-newsletter{
    max-width: 250px
    
  }

  /*newsletter end*/

  /*about page- Federico*/

  /* .body-aboutus{
    max-width: 1360px;
  } */

  #about-title{
    text-align: center;
    padding-bottom: 30px;

  }  

  #mission-row , #principles-row{
    background-color: white;
    padding: 20px ;
    display: flex;
    align-items: center;
    
  }

#vision-row{
    background-color: #E4E5EA;
    padding:20px;
    display: flex;
    align-items: center;
      
   
}
.aboutrow img{
    object-fit: cover;
}

.text-about-us{
    font-size: 23px;
    padding-top: 20px;
    font-style: italic;

}

#h2principles{
    text-align: center;
    padding: 30px;
    margin-top: 10px;
}



/*flipping cards*/
/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer{
    width: 300px;
    height: 300px;
    background: none;
    padding: 10px;
   
    
  
  }
  
  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  .thecard{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    align-items: center;    
  }
  
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  .thecard:hover{
    transform: rotateY(180deg);
  }
  
  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
   .thefront{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #6B99C3;
    color: #FFFFFF;
    align-items:center;
 
   
  }
  
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #D2D2D4;
    color: #16354D;
    text-align: center;
    transform: rotateY(180deg);
    
    
  }

  
/*Styling of the cards */
.thefront h2, .theback h2{
    font-family: 'Lato', sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    font-style: italic;
  }
  
  .thefront p, .theback p{
    font-family: 'Lato', sans-serif;
    padding: 10px;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
  }
/*inverted the color of the png*/
  .thefront img{
   margin-right: auto;
   margin-left: auto;
   display:block;
   padding-top: 20px;
   filter: brightness(0) invert(1);
  }

  #h2principles:hover {
    
    font-size: 250%;}


#principles-container{
    display: none;
}

