.carousel-inner {
    height: 500px;
}
.carousel-item img {
    position: absolute;
    /*prevent image from stretching*/
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}
.navbar-brand img {
    /*change logo to blend with background?*/
    height: 60px;

}
/* body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    background: none;
    font-family: Arial, Helvetica, sans-serif
} */
.wrapper-class input[type="radio"] {
    width: 15px;
  }
  .wrapper-class input[type="checkbox"] {
    width: 15px;
  }
.wrapper-class label {
    display: inline;
    margin-left: 5px;
    }

form{
    width: 100%;
    max-width: 30rem;
}
label, input, textarea, button {
    /*display: block;*/
}
input, textarea, button {
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
}
input, textarea{
    margin-bottom: 15px;
    color: white;      
    background: #ccd0e2;
    border: 0.1rem solid transparent;
    border-radius: 25px;
    transition: border-color 0.3s, box-shadow 0.3s; 
    
}
input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: #3277b3;
    /*box-shadow: 0 0 0 0.1rem #7897cc;*/
}
label {
    margin-bottom: 0.5rem;
    color: #84868f;
    
}
textarea{
    min-height: 12.5rem;
    resize: vertical;
}
.buttonSubmit {  
    border: none;
    border-radius: 99px;
    color: white;
    background-color: #1d90f5;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
}
.buttonSubmit:hover,
.buttonSubmit:focus {
    outline: none;
    background: #5c94d4;
}
.popup{
    width: 30%;
    background: #fff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.5s, top 0.5s;
}
.open-popup{
    
    visibility: visible;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #3277b3;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


.span-required{
    display: none;
    font-size: 14px;    
    color: red;
}
