/*John*/
.carousel-inner {
    height: 500px;
}
.carousel-item img {
    position: absolute;
    /*prevent image from stretching*/
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}
.navbar-brand img {
    /*change logo to blend with background?*/
    height: 60px;
}

#hiddenDiv { 
    display: none;
}

.navbar, .site-footer, .car-service-checklist{
    background-color: rgb(22,53,77) !important;
}

.nav-link {
    color: #fff !important;
}

/*highlight call and book buttons on hover*/

.call-button:hover, .book-button:hover{
    color: darkblue !important;
    font-weight: bold;
    background-color: darkorange;
    border-color: red;
    transform: scale(1.05);
}   
.btn-primary:hover{
    color: darkblue !important;
    background-color: darkorange !important;
    border-color: red !important;
    transform: scale(1.1);
}

.nav-link:hover, .dropdown-item:hover{
    color: darkblue !important;
    font-weight: bold;
    background-color: darkorange !important;
    border-color: red;
}


/*John*/

    /*Brakes page*/
    #bg {background-image:url(../images/Brake-Repair.jpg);
    width: auto;
    padding: 50px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    
    
    }
    
    .custom {
        width: 150px !important;
    }
    .testimonial-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
    }
    .textBody{
        font-family:  'Noto Sans', sans-serif;

    }

    .textBody h1{
        font-size: 35px;
    }
     
   
   
    .textBody h3{
        font-size: 20px;
        font-weight: bold;
    }
     
    /* This class is defining the styling for the container element that holds each
    testimonial in a testimonial grid. */
    .testimonial-container {
        background-color: #ffffff;
        border-radius: 12px;
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .testimonial-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 20px;
    }
     
    .testimonial-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;}
     
    .testimonial-text {
        margin-bottom: 20px;
        font-style: italic;
    }
     
    .testimonial-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #333333;
    }
     
    .testimonial-role {
        font-size: 16px;
        color: #666666;
    }
     
    /* This media query in CSS that targets screens with a maximum width of 600 pixels. */
    @media screen and (max-width: 600px) {
        .testimonial-grid {
            grid-template-columns: 1fr;
        }
    }

    /*Form*/
    /* Claudemar */
    .quoteContainer{
    height: 700px;
    

    }

    .quoteContainer p{
        background-color: #212529;
        padding: 10%;
        color: white;
        margin-top: 10px;
        text-align: center;
        font-weight: bolder;
    }

    .myform{
        width: 100%;
        max-width: 30rem;
       
        
    }
    
    .inputsform, .textarea-input, .buttonSubmit {
        width: 100%;
        font: inherit;
        padding: 1.30rem;
        font-weight: 350;
    }
    
    .inputsform, .textarea-input {
        margin-bottom: 15px;
        color: #ffffff;      
        background: #E4E5EA;
        border: 0.15rem solid #D2D2D4;
        border-radius: 25px;
        transition: border-color 0.3s, box-shadow 0.3s; 
    }
    input:hover,
    input:focus,
    textarea:hover,
    textarea:focus {
        outline: none;
        border-color: #16354D;
        box-shadow: 0 0 0 0.2125rem #16354D;
    }
    label {
        margin-bottom: 0.5rem;
        color: #16354D;
    }
    textarea{
        min-height: 10rem;
        resize: vertical;
    }
    .buttonSubmit {    
        border: none;
        color: #FFFFFF;
        background-color: #6B99C3;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 99px;
        margin-top: 20px;
        font-weight: 600;
    }
    .buttonSubmit:hover,
    .buttonSubmit:focus {
        outline: none;
        background: #16354D;
    }
    #quote{
      display: flex;  
    }

    #brakes-img{
        max-width: auto;
    }


.wrapper-class input[type="radio"] {
    width: 15px;
    display: inline;
    
  }
  .wrapper-class input[type="checkbox"] {
    width: 15px;
    display: inline;
    text-align: justify;
  }
.wrapper-class label {
    text-align: center;
    display: inline;
    margin-left: 5px;
    }
/*
input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: #3277b3;
}
label {
    margin-bottom: 0.5rem;
    color: #84868f;
    
}
textarea{
    min-height: 12.5rem;
    resize: vertical;
}
.buttonSubmit {  
    border: none;
    border-radius: 99px;
    color: white;
    background-color: #1d90f5;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
}
.buttonSubmit:hover,
.buttonSubmit:focus {
    outline: none;
    background: #5c94d4;
}*/
.popup{
    width: 30%;
    background: #fff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.5s, top 0.5s;
}
.open-popup{
    
    visibility: visible;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #3277b3;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


.span-required{
    display: none;
    font-size: 14px;    
    color: red;
}

/*Newsletter*/
.newsletter-modal {
    display: none;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .newsletter-bg {
    
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    position: relative;
    width: 45%;
    min-width: 350px;
  }
  
  .row-newsletter{
    margin: 0 auto;
    position: relative;
    width: 100;
  }
  
  
  form h3 {
    color: #16354D;
  }
  
  
   #inputfield {
    width: 60%;
    padding: 10px;
    border: 1px solid #6B99C3;}
    
  
  
 .form-group button {
    margin: 0;
    padding: 10px;
    border: none;
    background-color: #16354D;
    color: white;
 } 
  
  .image-newsletter{
    max-width: 250px
    
  }

  /*newsletter end*/
