/* Site font*/
/* Lato, Montserrat and Noto Sans font */
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans:wght@200;400&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    
}



/*John*/
.carousel-inner {
    height: 500px;
}
.carousel-item img {
    position: absolute;
    /*prevent image from stretching*/
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}
.navbar-brand img {
    /*change logo to blend with background?*/
    height: 60px;
}

#hiddenDiv { 
    display: none;
}

.navbar, .site-footer, .car-service-checklist{
    background-color: rgb(22,53,77) !important;
}

.nav-link {
    color: #fff !important;
}

/*highlight call and book buttons on hover*/

.call-button:hover, .book-button:hover{
    color: darkblue !important;
    font-weight: bold;
    background-color: darkorange;
    border-color: red;
    transform: scale(1.05);
}   
.btn-primary:hover{
    color: darkblue !important;
    background-color: darkorange !important;
    border-color: red !important;
    transform: scale(1.1);
}

.nav-link:hover, .dropdown-item:hover{
    color: darkblue !important;
    font-weight: bold;
    background-color: darkorange !important;
    border-color: red;
}


/*John*/

    /*Brakes page*/
    #bg {background-image:url(../images/Brake-Repair.jpg);
    width: auto;
    padding: 50px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    
    
    }
    
    .custom {
        width: 150px !important;
    }
    .testimonial-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
    }
    .textBody{
        font-family:  'Noto Sans', sans-serif;

    }

    .textBody h1{
        font-size: 35px;
    }
     
   
   
    .textBody h3{
        font-size: 20px;
        font-weight: bold;
    }
     
    /* This class is defining the styling for the container element that holds each
    testimonial in a testimonial grid. */
    .testimonial-container {
        background-color: #ffffff;
        border-radius: 12px;
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .testimonial-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 20px;
    }
     
    .testimonial-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;}
     
    .testimonial-text {
        margin-bottom: 20px;
        font-style: italic;
    }
     
    .testimonial-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #333333;
    }
     
    .testimonial-role {
        font-size: 16px;
        color: #666666;
    }
     
    /* This media query in CSS that targets screens with a maximum width of 600 pixels. */
    @media screen and (max-width: 600px) {
        .testimonial-grid {
            grid-template-columns: 1fr;
        }
    }

    /*Form*/

    .quoteContainer{
    height: 700px;
    

    }

    .quoteContainer p{
        background-color: #212529;
        padding: 10%;
        color: white;
        margin-top: 10px;
        text-align: center;
        font-weight: bolder;
    }

    .myform{
        width: 100%;
        max-width: 30rem;
        
    }

    label, input, textarea, button{
        display: block;
        
    }
    .inputsform, .textarea-input, .buttonSubmit {
        width: 100%;
        font: inherit;
        padding: 1.30rem;
        font-weight: 350;
    }
    
    .inputsform, .textarea-input {
        margin-bottom: 15px;
        color: white;      
        background: #ccd0e2;
        border: 0.15rem solid gray;
        border-radius: 25px;
        transition: border-color 0.3s, box-shadow 0.3s; 
    }
    input:hover,
    input:focus,
    textarea:hover,
    textarea:focus {
        outline: none;
        border-color: #3277b3;
        box-shadow: 0 0 0 0.2125rem #3e5479;
    }
    label {
        margin-bottom: 0.5rem;
        color: #84868f;
    }
    textarea{
        min-height: 10rem;
        resize: vertical;
    }
    .buttonSubmit {    
        border: none;
        color: white;
        background-color: #666666;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 20px;
        font-weight: 600;
    }
    .buttonSubmit:hover,
    .buttonSubmit:focus {
        outline: none;
        background: #1c70d3;
    }
    #quote{
      display: flex;  
    }

    #brakes-img{
        max-width: auto;
    }

.wrapper-class input[type="radio"] {
    width: 15px;
    display: inline;
    
  }
  .wrapper-class input[type="checkbox"] {
    width: 15px;
    display: inline;
    text-align: justify;
  }
.wrapper-class label {
    text-align: center;
    display: inline;
    margin-left: 5px;
    }

.myForm{
    width: 100%;
    max-width: 30rem;
}

.inputsform, .textarea-input, .buttonSubmit {
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 350;
}

.inputsform, .textarea-input {
    margin-bottom: 15px;
    color: white;      
    background: #ccd0e2;
    border: 0.15rem solid gray;
    border-radius: 20px;
    transition: border-color 0.3s, box-shadow 0.3s; 
}
input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: #3277b3;
}
label {
    margin-bottom: 0.5rem;
    color: #84868f;
    
}
textarea{
    min-height: 12.5rem;
    resize: vertical;
}
.buttonSubmit {  
    border: none;
    border-radius: 99px;
    color: white;
    background-color: #1d90f5;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
}
.buttonSubmit:hover,
.buttonSubmit:focus {
    outline: none;
    background: #5c94d4;
}
.popup{
    width: 30%;
    background: #fff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.5s, top 0.5s;
}
.open-popup{
    
    visibility: visible;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #3277b3;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


.span-required{
    display: none;
    font-size: 14px;    
    color: red;
}

/*Newsletter*/
.newsletter-modal {
    display: none;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .newsletter-bg {
    
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    position: relative;
    width: 45%;
    min-width: 350px;
  }
  
  .row-newsletter{
    margin: 0 auto;
    position: relative;
    width: 100;
  }
  
  
  form h3 {
    color: #16354D;
  }
  
  
   #inputfield {
    width: 60%; 
    padding: 10px;
    border: 1px solid #6B99C3;}
    
  
  
 .form-group button {
    margin: 0;
    padding: 10px;
    border: none;
    background-color: #16354D;
    color: white;
 } 
  
  .image-newsletter{
    max-width: 250px
    
  }

  /*newsletter end*/

  /*about page*/

  #about-title{
    text-align: center;
    padding-bottom: 30px;

  }  

  #mission-row , #principles-row{
    background-color: white;
    padding: 20px ;
    display: flex;
    align-items: center;
    
  }

#vision-row{
    background-color: #E4E5EA;
    padding:20px;
    display: flex;
    align-items: center;
      
   
}

.text-about-us{
    font-size: 23px;
    padding-top: 20px;
    font-style: italic;

}

#h2principles{
    text-align: center;
    padding: 30px;
    margin-top: 10px;
}



/*flipping cards*/
/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer{
    width: 300px;
    height: 300px;
    background: none;
    padding: 10px;
   
    
  
  }
  
  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  .thecard{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    align-items: center;    
  }
  
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  .thecard:hover{
    transform: rotateY(180deg);
  }
  
  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
   .thefront{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #6B99C3;
    color: #FFFFFF;
    align-items:center;
 
   
  }
  
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #D2D2D4;
    color: #16354D;
    text-align: center;
    transform: rotateY(180deg);
    
    
  }

  
/*Styling of the cards */
.thefront h2, .theback h2{
    font-family: 'Lato', sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    font-style: italic;
  }
  
  .thefront p, .theback p{
    font-family: 'Lato', sans-serif;
    padding: 10px;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
  }
/*inverted the color of the png*/
  .thefront img{
   margin-right: auto;
   margin-left: auto;
   display:block;
   padding-top: 20px;
   filter: brightness(0) invert(1);
  }

/*reveal content*/
